@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap');

html { font-size: 62.5%; } // 10px

body {
  color: #4a4a4a;
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: 'Arsenal', sans-serif;
}
