@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap');


html { font-size: 62.5%; } // 10px

body {
  color: $color-black;
  font-size: 1.7rem;
  line-height: 1.5;
  font-family: $font-body;
}

h1,
h2,
h3 {
  font-family: $font-body;
  font-weight: 700;
  margin: 0.5em 0;
}

h1 {
  font-size: 3.4rem;
}
